fastapi
uvicorn[standard]
python-multipart
python-jose[cryptography]
passlib[bcrypt]
pydantic
psycopg2 #needs libpq-dev
psycopg2-binary
sqlalchemy
pika==1.2.0
python-jose[cryptography]
# aiofiles
# jinja2
pytest
httpx
factory_boy
sqlalchemy-continuum  # Optional, for database version control in tests


